.login-container {
  display: flex;
  width: 100%;
  justify-content: center;

  .login-form {
    width: 50%;
    max-width: 500px;
  }
}

.input {
  width: 100%;
  margin-top: 10px;
}

.login-button-container {
  display: flex;
  justify-content: center;
}
