<div class="login-container">
  <mat-card class="login-form">
    <mat-card-title>
      Please enter your log in credentials
    </mat-card-title>
    <mat-card-content>
      <form [formGroup]="loginForm">
        <div>
          <mat-form-field class="input">
            <mat-label>E-mail address</mat-label>
            <input matInput [formControl]="loginForm.controls['email']" required>
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">E-mail address is required</mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">Not a valid e-mail address</mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="input">
            <mat-label>Password</mat-label>
            <input matInput [formControl]="loginForm.controls['password']" type="password" required>
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">Password is required</mat-error>
          </mat-form-field>
        </div>
        <div class="login-button-container">
          <button (click)="login()" [disabled]="loginForm.invalid" mat-raised-button color="primary">Log in</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
