.packet-id-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  margin-right: 10px;
  width: 50%;
}

.packets-container {
  margin-top: 50px;
  width: 80%;
}

.table {
  width: 100%;
}
tr.example-detail-row {
  height: 0;
}
.example-element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.state-cell {
  display: flex;
  align-items: center;
  padding-top: 5px;
}

.icon {
  margin-right: 10px;
}

td {
  cursor: pointer;
}

.packet-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.packet-id-adder {
  width: 40%;
  min-width: 500px;
}
