<div class="packet-information-container">
  <mat-card class="packet-id-adder">
    <mat-card-title>Enter packet ID</mat-card-title>
    <mat-card-content>
      <div class="packet-id-input-container">
        <mat-form-field class="input">
          <mat-label>Packet ID</mat-label>
          <input matInput [formControl]="packetId" required>
          <mat-error *ngIf="packetId.hasError('required')">Packet ID is required</mat-error>
          <mat-error *ngIf="packetId.hasError('pattern')">Not a valid packet ID</mat-error>
        </mat-form-field>
        <button *ngIf="!filtered; else elseButton" (click)="getPacket()" [disabled]="packetId.invalid" mat-mini-fab
                color="primary">
          <mat-icon>filter_alt</mat-icon>
        </button>
        <ng-template #elseButton>
          <button (click)="getPackets()" mat-mini-fab color="accent">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="packets-container" *ngIf="packets?.data.length > 0">
    <mat-card-title>Ordered packets</mat-card-title>
    <table mat-table [dataSource]="packets.data" multiTemplateDataRows class="mat-elevation-z8 table">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID</th>
        <td mat-cell *matCellDef="let element"> {{element.packetId}} </td>
      </ng-container>

      <ng-container matColumnDef="state">
        <th mat-header-cell *matHeaderCellDef> State</th>
        <td mat-cell *matCellDef="let element" class="state-cell">
          <mat-icon color="primary" class="icon">{{getIconForDeliveryState(element.state)}}</mat-icon>
          <span>{{PacketStateEnumHelper.getEnumLabel(element.state)}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
          <div class="element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div *ngFor="let product of element.productList" class="product-item">
              <span>{{product.name}}</span>
              <span>{{product.price | currency :'HUF' : 'symbol' : '1.0-0'}}</span>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>

  </div>
</div>
